
/* font: Raleway - already linked in html, so can use here */

html, body {
    margin: 0;
    height: 100%;
}

html {
    font-size: 62.5%; /* 1rem = 10px - use rem */
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: #191D32;
  align-items: center;
  justify-content: center;
  display: flex;
}

.box {
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

h3 {
  margin-left: 2%;
  font-size: 1.8em;
  font-weight: lighter;
  margin-bottom: 0;
}

.listbox {
  border: 2px solid #E8D284;
  margin: 2%;
  border-radius: 10px;
}

.listboxLie {
  border: 2px solid #E8D284;
  margin: 2%;
  border-radius: 10px;
}

p {
  text-align: center;
  padding: 0 15px;
  font-size: 1.15em;
}
